.accordion {
    margin-bottom: 1em;
}
.accordion-item {
    border-bottom: 1px solid #ccc;
}
.accordion-title {
    cursor: pointer;
    padding: 1em 1em 1em 2em;
    position: relative;
}
.accordion-title::before {
    content: '+';
    position: absolute;
    left: 1em;
}
.accordion-title.active::before {
    content: '×';
}
.accordion-content {
    display: none;
    padding: 1em;
    background-color: #fff;
}