.promiss {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 150px;
}

.promiss__cardFrame {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}